In [19]:
import pandas as pd
#create connection to postgres using sqlalchemy
#sql alchemy is a libraru to help dealing with sql
from sqlalchemy import create_engine
from time import time

In [20]:
pd.__version__

'1.5.3'

In [21]:
data = pd.read_csv('yellow_tripdata_2021-01.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23520\1406655412.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('yellow_tripdata_2021-01.csv')

In [22]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

In [24]:
#change tpep_pickup_datetime into datetime data type becasue the data type is object
data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])
data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'])

Create connection to postgres using sqlalchemy. We need to specify the type of the database to connect with postgres. therefore we use 'postgresql://root:root@localhost:30/ny_taxis', root because we have specified postgresql with docker as our postgres database

In [25]:
engine = create_engine('postgresql://root:root@localhost:30/ny_taxis')

In [26]:
engine.connect()

# Create Table
This will only created the table without any records

Convert data from csv into ddl (data definition language). Specify the connection in schema using con. This function will create table with 'yellow_taxis_data' as a table name. 
the result not really an optimal schema because there are more columns that use real data type and not used decimal

In [27]:
print(pd.io.sql.get_schema(data, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

# Insert Record into Database

Because the dataset contains large number of records, therefore we can use iterator in pandas and chunksize to get a specific number of records that we want.

after we create the iterator, then if we call the data_iter it will not give us a data records but it will give us a function, therefore we need to used **next()** to get the values

In [28]:
data_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [29]:
data_iter

In [30]:
data = next(data_iter)
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [31]:
# change the datatype of tpep_pickup_datetime and tpep_dropoff_datetime
data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])
data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'])

In [32]:
# insert record from the dataset into database
# if_exixts has 3 valuse = 'replace', 'fail', and 'append'
data.to_sql('yellow_taxi_data',con = engine, if_exists='append')

1000

# Insert the rested of the dataset

We used while loop, therfore if true then we can insert another chunk into the dataset, but if false (ther is no data) then the loop will stop, we using **time()** to know how much time it took to insert the chunk into the database

In [34]:
while True:
    
    t_start = time()
    data = next(data_iter)

    data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])
    data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'])

    data.to_sql('yellow_taxi_data',con = engine, if_exists='append')

    t_end = time()
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 12.651 second
inserted another chunk..., took 12.073 second
inserted another chunk..., took 11.817 second
inserted another chunk..., took 12.866 second
inserted another chunk..., took 14.264 second
inserted another chunk..., took 12.209 second
inserted another chunk..., took 12.476 second
inserted another chunk..., took 11.546 second
inserted another chunk..., took 11.550 second
inserted another chunk..., took 11.865 second
inserted another chunk..., took 12.229 second

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23520\1019024558.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = next(data_iter)

inserted another chunk..., took 10.942 second
inserted another chunk..., took 7.658 second

StopIteration: