# Homework

## Question 1

Run the command to get information on Docker

```docker --help```

Now run the command to get help on the "docker build" command

Which tag has the following text? - Write the image ID to the file

**answer** is **--iidfile string**

## Question 2

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash. Now check the python modules that are installed ( use pip list). How many python packages/modules are installed?

**answer** is **3**

In [22]:
import pandas as pd
from sqlalchemy import create_engine, text
from time import time

In [2]:
# read the dataset
green_tripdata = pd.read_csv('green_tripdata_2019-01.csv')
taxi_zone = pd.read_csv('taxi+_zone_lookup.csv')

In [3]:
green_tripdata.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [4]:
taxi_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
green_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: float64(10), int64(7), object(3)
memory usage: 96.3+ MB

In [7]:
# change data type for lpep_pickup_datetime lpep_dropoff_datetime into datetime or timestamp

green_tripdata['lpep_pickup_datetime'] = pd.to_datetime(green_tripdata['lpep_pickup_datetime'])
green_tripdata['lpep_dropoff_datetime'] = pd.to_datetime(green_tripdata['lpep_dropoff_datetime'])

In [8]:
green_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  630918 non-null  datetime64[ns]
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 96.3+ MB

In [9]:
# create connection to database
engine = create_engine('postgresql://root:root@localhost:30/ny_taxis')
engine.connect()

In [10]:
print(pd.io.sql.get_schema(green_tripdata, name='green_tripdata', con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [11]:
print(pd.io.sql.get_schema(taxi_zone, name='taxi_zone', con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [17]:
#create iterator data
data_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)
green_tripdata = next(data_iter)

green_tripdata['lpep_pickup_datetime'] = pd.to_datetime(green_tripdata['lpep_pickup_datetime'])
green_tripdata['lpep_dropoff_datetime'] = pd.to_datetime(green_tripdata['lpep_dropoff_datetime'])

In [18]:
#insert green_tripdata dataset into database
green_tripdata.to_sql('green_tripdata', con = engine, if_exists='replace')

1000

In [19]:
while True:
    
    t_start = time()

    green_tripdata = next(data_iter)

    green_tripdata['lpep_pickup_datetime'] = pd.to_datetime(green_tripdata['lpep_pickup_datetime'])
    green_tripdata['lpep_dropoff_datetime'] = pd.to_datetime(green_tripdata['lpep_dropoff_datetime'])

    green_tripdata.to_sql('green_tripdata',con = engine, if_exists='append')

    t_end = time()
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 12.202 second
inserted another chunk..., took 11.812 second
inserted another chunk..., took 12.009 second
inserted another chunk..., took 11.918 second
inserted another chunk..., took 11.995 second
inserted another chunk..., took 3.960 second

StopIteration:

In [20]:
#insert taxi_zone dataset into database
taxi_zone.to_sql('taxi_zone', con = engine, if_exists='replace')

265

# Question 3. Count records

How many taxi trips were totally made on January 15?

Tip: started and finished on 2019-01-15.

Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

In [75]:
# answer question 3
# query = """
# SELECT * FROM taxi_zone LIMIT 5;
# """
with engine.connect() as connection:
    result = connection.execute(text("SELECT count('VendorID') FROM green_tripdata WHERE lpep_pickup_datetime >= '2019-01-15 00:00:00' AND  lpep_dropoff_datetime < '2019-01-16 00:00:00'"))
    for row in result:
        print(f"Taxi trips were totally made on January 15 is {row[0]}")

Taxi trips were totally made on January 15 is 20530

# Question 4. Largest trip for each day

Which was the day with the largest trip distance Use the pick up time for your calculations.

In [74]:
# answer question 4

with engine.connect() as conn:
    result = conn.execute(text("SELECT max(trip_distance) FROM green_tripdata;"))
    for row in result:
        # print(row[0])
        # result is 117.99

        final_result = conn.execute(text(f"SELECT lpep_pickup_datetime FROM green_tripdata WHERE trip_distance = '{row[0]}';"))
        for row in final_result:
            print(f"The largest trip distance is on {row[0]}")

The largest trip distance is on 2019-01-15 19:27:58

# Question 5. The number of passengers

In 2019-01-01 how many trips had 2 and 3 passengers?

In [85]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT COUNT('passenger_count') FROM green_tripdata WHERE lpep_pickup_datetime >='2019-01-01 00:00:00' AND lpep_pickup_datetime <= '2019-01-01 23:59:59' AND passenger_count='2';"))
    for row in result:
        print(f"In 2019-01-01 trips that had 2 passenggers is {row[0]}")

    result2 = connection.execute(text("SELECT COUNT('passenger_count') FROM green_tripdata WHERE lpep_pickup_datetime >='2019-01-01 00:00:00' AND lpep_pickup_datetime <= '2019-01-01 23:59:59' AND passenger_count='3';"))
    for row in result2:
        print(f"In 2019-01-01 trips that had 3 passengers is {row[0]}")

In 2019-01-01 trips that had 2 passenggers is 1282
In 2019-01-01 trips that had 3 passengers is 254

# Question 6. Largest tip

For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

Note: it's not a typo, it's tip , not trip

In [116]:
with engine.connect() as connection:
    result = connection.execute(text('SELECT MAX(green_tripdata."tip_amount") FROM green_tripdata LEFT JOIN taxi_zone ON green_tripdata."PULocationID" = taxi_zone."LocationID" WHERE taxi_zone."Zone" = "Astoria";'))
    for row in result:
        print(row[0])
        #result will 100.0

    result2 = connection.execute(text(f'SELECT taxi_zone."Zone" FROM green_tripdata LEFT JOIN taxi_zone ON green_tripdata."DOLocationID" = taxi_zone."LocationID" WHERE green_tripdata."tip_amount" = {row[0]}'))
    for row in result2:
        print(f"Drop off zone {row[0]}")

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Astoria" does not exist
LINE 1: ...= taxi_zone."LocationID" WHERE taxi_zone."Zone" = "Astoria";
                                                             ^

[SQL: SELECT MAX(green_tripdata."tip_amount") FROM green_tripdata LEFT JOIN taxi_zone ON green_tripdata."PULocationID" = taxi_zone."LocationID" WHERE taxi_zone."Zone" = "Astoria";]
(Background on this error at: https://sqlalche.me/e/20/f405)